n8n/workflows/textstyle.json
{
  "name": "TextStyle Site API",
  "nodes": [
    {
      "id": 1,
      "name": "WH auth.telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        -200
      ],
      "parameters": {
        "path": "textstyle/auth/telegram",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 2,
      "name": "FN verify telegram",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -320,
        -200
      ],
      "parameters": {
        "functionCode": "const crypto = require('crypto');\nconst jwt = require('jsonwebtoken');\nconst body = items[0].json.body || {};\nconst token = process.env.TELEGRAM_BOT_TOKEN;\nif (!token) { throw new Error('Missing TELEGRAM_BOT_TOKEN'); }\nconst secret = crypto.createHash('sha256').update(token).digest();\nconst dataCheckString = Object.keys(body)\n  .filter(k => k !== 'hash')\n  .sort()\n  .map(k => `${k}=${body[k]}`)\n  .join('\n');\nconst signature = crypto.createHmac('sha256', secret).update(dataCheckString).digest('hex');\nif (signature !== body.hash) { throw new Error('Invalid Telegram signature'); }\nconst jwtSecret = process.env.JWT_SECRET;\nif (!jwtSecret) { throw new Error('Missing JWT_SECRET'); }\nconst payload = { id: body.id, username: body.username, first_name: body.first_name, last_name: body.last_name };\nconst tokenOut = jwt.sign(payload, jwtSecret, { expiresIn: '7d' });\nreturn [{ json: { token: tokenOut, user: payload } }];"
      }
    },
    {
      "id": 3,
      "name": "WH reviews.save",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        40
      ],
      "parameters": {
        "path": "textstyle/reviews.save",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 4,
      "name": "FN verify jwt (reviews)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -360,
        40
      ],
      "parameters": {
        "functionCode": "const jwt = require('jsonwebtoken');\nconst headers = items[0].json.headers || {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nif (!authHeader) { throw new Error('Missing Authorization header'); }\nconst token = authHeader.replace(/^[Bb]earer\\s+/, '');\nconst secret = process.env.JWT_SECRET;\nif (!secret) { throw new Error('Missing JWT_SECRET'); }\nlet decoded;\ntry { decoded = jwt.verify(token, secret); } catch (error) { throw new Error('Invalid token'); }\nconst item = items[0];\nitem.json.auth = { user: decoded };\nreturn [item];"
      }
    },
    {
      "id": 5,
      "name": "FN prepare review",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -140,
        40
      ],
      "parameters": {
        "functionCode": "const item = items[0];\nconst body = item.json.body || {};\nconst user = (item.json.auth && item.json.auth.user) || {};\nreturn [{ json: { fields: { user_id: user.id || '', user_name: user.username || '', rating: body.rating || 0, review_text: body.review_text || '', is_public: body.is_public ? '1' : '0', is_prof: body.is_prof ? '1' : '0', user_photo: body.user_photo || '' } } }];"
      }
    },
    {
      "id": 6,
      "name": "Airtable Reviews create",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        120,
        40
      ],
      "parameters": {
        "operation": "create",
        "application": "appr8PCGGMxbHoY7Y",
        "table": "Reviews",
        "fields": {
          "fields": "={{$json.fields}}"
        }
      },
      "credentials": {
        "airtableApi": {
          "id": "={{$env.AIRTABLE_CRED_ID}}"
        }
      }
    },
    {
      "id": 7,
      "name": "FN review response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        360,
        40
      ],
      "parameters": {
        "functionCode": "const record = items[0].json || {};\nreturn [{ json: { success: true, id: record.id, createdTime: record.createdTime } }];"
      }
    },
    {
      "id": 8,
      "name": "WH reviews.public",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        260
      ],
      "parameters": {
        "path": "textstyle/reviews.public",
        "httpMethod": "GET",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 9,
      "name": "Airtable Reviews list",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -340,
        260
      ],
      "parameters": {
        "operation": "list",
        "application": "appr8PCGGMxbHoY7Y",
        "table": "Reviews",
        "additionalOptions": {
          "maxRecords": 6,
          "sort": [
            {
              "field": "created_at",
              "direction": "desc"
            }
          ],
          "filterByFormula": "{is_public}"
        }
      },
      "credentials": {
        "airtableApi": {
          "id": "={{$env.AIRTABLE_CRED_ID}}"
        }
      }
    },
    {
      "id": 10,
      "name": "FN format reviews",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -80,
        260
      ],
      "parameters": {
        "functionCode": "const records = items.map(item => {\n  const fields = item.json.fields || {};\n  return { user_name: fields.user_name || '', review_text: fields.review_text || '', rating: fields.rating || null };\n});\nreturn records.map(r => ({ json: r }));"
      }
    },
    {
      "id": 11,
      "name": "WH referral.status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        460
      ],
      "parameters": {
        "path": "textstyle/referral.status",
        "httpMethod": "GET",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 12,
      "name": "FN verify jwt (ref)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -360,
        460
      ],
      "parameters": {
        "functionCode": "const jwt = require('jsonwebtoken');\nconst headers = items[0].json.headers || {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nif (!authHeader) { throw new Error('Missing Authorization header'); }\nconst token = authHeader.replace(/^[Bb]earer\\s+/, '');\nconst secret = process.env.JWT_SECRET;\nif (!secret) { throw new Error('Missing JWT_SECRET'); }\nlet decoded;\ntry { decoded = jwt.verify(token, secret); } catch (error) { throw new Error('Invalid token'); }\nconst item = items[0];\nitem.json.auth = { user: decoded };\nreturn [item];"
      }
    },
    {
      "id": 13,
      "name": "FN build referral",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -120,
        460
      ],
      "parameters": {
        "functionCode": "const user = (items[0].json.auth && items[0].json.auth.user) || {};\nreturn [{ json: { link: `https://t.me/TextStyle_main_bot?start=ref_${user.id || ''}`, progress: 40, text: '2 приглашённых, +14 дней', details: 'Следующий бонус через 1 приглашение' } }];"
      }
    },
    {
      "id": 14,
      "name": "WH payments.byUser",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        660
      ],
      "parameters": {
        "path": "textstyle/payments.byUser",
        "httpMethod": "GET",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 15,
      "name": "FN verify jwt (payments)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -360,
        660
      ],
      "parameters": {
        "functionCode": "const jwt = require('jsonwebtoken');\nconst headers = items[0].json.headers || {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nif (!authHeader) { throw new Error('Missing Authorization header'); }\nconst token = authHeader.replace(/^[Bb]earer\\s+/, '');\nconst secret = process.env.JWT_SECRET;\nif (!secret) { throw new Error('Missing JWT_SECRET'); }\nlet decoded;\ntry { decoded = jwt.verify(token, secret); } catch (error) { throw new Error('Invalid token'); }\nconst item = items[0];\nitem.json.auth = { user: decoded };\nreturn [item];"
      }
    },
    {
      "id": 16,
      "name": "Airtable Payments list",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -120,
        660
      ],
      "parameters": {
        "operation": "list",
        "application": "appr8PCGGMxbHoY7Y",
        "table": "Payments",
        "additionalOptions": {
          "sort": [
            {
              "field": "date",
              "direction": "desc"
            }
          ],
          "filterByFormula": "={{\"{user_id}='\" + $json.auth.user.id + \"'\"}}"
        }
      },
      "credentials": {
        "airtableApi": {
          "id": "={{$env.AIRTABLE_CRED_ID}}"
        }
      }
    },
    {
      "id": 17,
      "name": "FN format payments",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        120,
        660
      ],
      "parameters": {
        "functionCode": "const records = items.map(item => {\n  const fields = item.json.fields || {};\n  return { date: fields.date || '', plan: fields.plan || '', amount: fields.amount || '', status: fields.status || '' };\n});\nreturn records.map(r => ({ json: r }));"
      }
    },
    {
      "id": 18,
      "name": "WH promo.apply",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        860
      ],
      "parameters": {
        "path": "textstyle/promo.apply",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 19,
      "name": "FN verify jwt (promo)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -360,
        860
      ],
      "parameters": {
        "functionCode": "const jwt = require('jsonwebtoken');\nconst headers = items[0].json.headers || {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nif (!authHeader) { throw new Error('Missing Authorization header'); }\nconst token = authHeader.replace(/^[Bb]earer\\s+/, '');\nconst secret = process.env.JWT_SECRET;\nif (!secret) { throw new Error('Missing JWT_SECRET'); }\nlet decoded;\ntry { decoded = jwt.verify(token, secret); } catch (error) { throw new Error('Invalid token'); }\nconst item = items[0];\nitem.json.auth = { user: decoded };\nreturn [item];"
      }
    },
    {
      "id": 20,
      "name": "FN apply promo",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -120,
        860
      ],
      "parameters": {
        "functionCode": "const code = (items[0].json.body && items[0].json.body.code) || '';\nif (code.toUpperCase() === 'WELCOME10') {\n  return [{ json: { message: 'Скидка 10% применена' } }];\n}\nreturn [{ json: { message: 'Промокод недействителен' } }];"
      }
    },
    {
      "id": 21,
      "name": "WH toolsy.payment.success",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        1080
      ],
      "parameters": {
        "path": "textstyle/toolsy/payment.success",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 22,
      "name": "FN map toolsy payment.success",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -320,
        1080
      ],
      "parameters": {
        "functionCode": "const body = items[0].json.body || {};\nreturn [{ json: { fields: { user_id: body.user_id || '', plan: body.plan || '', amount: body.amount || '', status: 'paid', source: body.source || 'toolsy', date: body.date || new Date().toISOString() } } }];"
      }
    },
    {
      "id": 23,
      "name": "Airtable Payments payment.success",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -80,
        1080
      ],
      "parameters": {
        "operation": "create",
        "application": "appr8PCGGMxbHoY7Y",
        "table": "Payments",
        "fields": {
          "fields": "={{$json.fields}}"
        }
      },
      "credentials": {
        "airtableApi": {
          "id": "={{$env.AIRTABLE_CRED_ID}}"
        }
      }
    },
    {
      "id": 24,
      "name": "WH toolsy.payment.failed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        1440
      ],
      "parameters": {
        "path": "textstyle/toolsy/payment.failed",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 25,
      "name": "FN map toolsy payment.failed",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -320,
        1440
      ],
      "parameters": {
        "functionCode": "const body = items[0].json.body || {};\nreturn [{ json: { fields: { user_id: body.user_id || '', plan: body.plan || '', amount: body.amount || '', status: 'failed', source: body.source || 'toolsy', date: body.date || new Date().toISOString() } } }];"
      }
    },
    {
      "id": 26,
      "name": "Airtable Payments payment.failed",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -80,
        1440
      ],
      "parameters": {
        "operation": "create",
        "application": "appr8PCGGMxbHoY7Y",
        "table": "Payments",
        "fields": {
          "fields": "={{$json.fields}}"
        }
      },
      "credentials": {
        "airtableApi": {
          "id": "={{$env.AIRTABLE_CRED_ID}}"
        }
      }
    },
    {
      "id": 27,
      "name": "WH toolsy.subscription.activated",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        1800
      ],
      "parameters": {
        "path": "textstyle/toolsy/subscription.activated",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 28,
      "name": "FN map toolsy subscription.activated",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -320,
        1800
      ],
      "parameters": {
        "functionCode": "const body = items[0].json.body || {};\nreturn [{ json: { fields: { user_id: body.user_id || '', plan: body.plan || '', amount: body.amount || '', status: 'active', source: body.source || 'toolsy', date: body.date || new Date().toISOString() } } }];"
      }
    },
    {
      "id": 29,
      "name": "Airtable Payments subscription.activated",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -80,
        1800
      ],
      "parameters": {
        "operation": "create",
        "application": "appr8PCGGMxbHoY7Y",
        "table": "Payments",
        "fields": {
          "fields": "={{$json.fields}}"
        }
      },
      "credentials": {
        "airtableApi": {
          "id": "={{$env.AIRTABLE_CRED_ID}}"
        }
      }
    },
    {
      "id": 30,
      "name": "WH toolsy.subscription.renewed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        2160
      ],
      "parameters": {
        "path": "textstyle/toolsy/subscription.renewed",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 31,
      "name": "FN map toolsy subscription.renewed",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -320,
        2160
      ],
      "parameters": {
        "functionCode": "const body = items[0].json.body || {};\nreturn [{ json: { fields: { user_id: body.user_id || '', plan: body.plan || '', amount: body.amount || '', status: 'renewed', source: body.source || 'toolsy', date: body.date || new Date().toISOString() } } }];"
      }
    },
    {
      "id": 32,
      "name": "Airtable Payments subscription.renewed",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -80,
        2160
      ],
      "parameters": {
        "operation": "create",
        "application": "appr8PCGGMxbHoY7Y",
        "table": "Payments",
        "fields": {
          "fields": "={{$json.fields}}"
        }
      },
      "credentials": {
        "airtableApi": {
          "id": "={{$env.AIRTABLE_CRED_ID}}"
        }
      }
    },
    {
      "id": 33,
      "name": "WH toolsy.subscription.canceled",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        2520
      ],
      "parameters": {
        "path": "textstyle/toolsy/subscription.canceled",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 34,
      "name": "FN map toolsy subscription.canceled",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -320,
        2520
      ],
      "parameters": {
        "functionCode": "const body = items[0].json.body || {};\nreturn [{ json: { fields: { user_id: body.user_id || '', plan: body.plan || '', amount: body.amount || '', status: 'canceled', source: body.source || 'toolsy', date: body.date || new Date().toISOString() } } }];"
      }
    },
    {
      "id": 35,
      "name": "Airtable Payments subscription.canceled",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -80,
        2520
      ],
      "parameters": {
        "operation": "create",
        "application": "appr8PCGGMxbHoY7Y",
        "table": "Payments",
        "fields": {
          "fields": "={{$json.fields}}"
        }
      },
      "credentials": {
        "airtableApi": {
          "id": "={{$env.AIRTABLE_CRED_ID}}"
        }
      }
    },
    {
      "id": 36,
      "name": "WH toolsy.refund.created",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -600,
        2880
      ],
      "parameters": {
        "path": "textstyle/toolsy/refund.created",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": 37,
      "name": "FN map toolsy refund.created",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -320,
        2880
      ],
      "parameters": {
        "functionCode": "const body = items[0].json.body || {};\nreturn [{ json: { fields: { user_id: body.user_id || '', plan: body.plan || '', amount: body.amount || '', status: 'refunded', source: body.source || 'toolsy', date: body.date || new Date().toISOString() } } }];"
      }
    },
    {
      "id": 38,
      "name": "Airtable Payments refund.created",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        -80,
        2880
      ],
      "parameters": {
        "operation": "create",
        "application": "appr8PCGGMxbHoY7Y",
        "table": "Payments",
        "fields": {
          "fields": "={{$json.fields}}"
        }
      },
      "credentials": {
        "airtableApi": {
          "id": "={{$env.AIRTABLE_CRED_ID}}"
        }
      }
    }
  ],
  "connections": {
    "WH auth.telegram": {
      "main": [
        [
          {
            "node": "FN verify telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH reviews.save": {
      "main": [
        [
          {
            "node": "FN verify jwt (reviews)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN verify jwt (reviews)": {
      "main": [
        [
          {
            "node": "FN prepare review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN prepare review": {
      "main": [
        [
          {
            "node": "Airtable Reviews create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Reviews create": {
      "main": [
        [
          {
            "node": "FN review response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH reviews.public": {
      "main": [
        [
          {
            "node": "Airtable Reviews list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Reviews list": {
      "main": [
        [
          {
            "node": "FN format reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH referral.status": {
      "main": [
        [
          {
            "node": "FN verify jwt (ref)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN verify jwt (ref)": {
      "main": [
        [
          {
            "node": "FN build referral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH payments.byUser": {
      "main": [
        [
          {
            "node": "FN verify jwt (payments)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN verify jwt (payments)": {
      "main": [
        [
          {
            "node": "Airtable Payments list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Payments list": {
      "main": [
        [
          {
            "node": "FN format payments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH promo.apply": {
      "main": [
        [
          {
            "node": "FN verify jwt (promo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN verify jwt (promo)": {
      "main": [
        [
          {
            "node": "FN apply promo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH toolsy.payment.success": {
      "main": [
        [
          {
            "node": "FN map toolsy payment.success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN map toolsy payment.success": {
      "main": [
        [
          {
            "node": "Airtable Payments payment.success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH toolsy.payment.failed": {
      "main": [
        [
          {
            "node": "FN map toolsy payment.failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN map toolsy payment.failed": {
      "main": [
        [
          {
            "node": "Airtable Payments payment.failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH toolsy.subscription.activated": {
      "main": [
        [
          {
            "node": "FN map toolsy subscription.activated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN map toolsy subscription.activated": {
      "main": [
        [
          {
            "node": "Airtable Payments subscription.activated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH toolsy.subscription.renewed": {
      "main": [
        [
          {
            "node": "FN map toolsy subscription.renewed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN map toolsy subscription.renewed": {
      "main": [
        [
          {
            "node": "Airtable Payments subscription.renewed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH toolsy.subscription.canceled": {
      "main": [
        [
          {
            "node": "FN map toolsy subscription.canceled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN map toolsy subscription.canceled": {
      "main": [
        [
          {
            "node": "Airtable Payments subscription.canceled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WH toolsy.refund.created": {
      "main": [
        [
          {
            "node": "FN map toolsy refund.created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FN map toolsy refund.created": {
      "main": [
        [
          {
            "node": "Airtable Payments refund.created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "version": 1,
  "active": false
}